.BOX {
  background-color: white;
  height: 200px;
  width: 200px;
  padding-right: 100px;
}



.App {
  background-color: ;
}

.box {
  width: 200px;
  height: 200px;
  border: 1px solid black;
  float: left;
}
